* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    -webkit-user-select: none;
}

.main {
    height: 400px;
    width: 300px;
    /* background-color: rgba(255, 183, 183, 0.692); */
}

.drag-bar {
    -webkit-app-region: drag;
    position: relative;
    height: 12px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    border-radius: 4px;
}

.note-block {
    position: relative;
    width: 240px;
    top: 16px;
    left: 30px;
}

.block-btn {
    position: relative;
    margin: 14px 0;
    width: 240px;
    height: 32px;
    background-color: #eee;
    border-radius: 5px;
    /* text */
    color: rgb(0, 50, 94);
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
    line-height: 32px;
    text-align: center;
}

.delete-block-btn {
    display: none;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    color: #aaa;
    border-radius: 50%;
}

.delete-block-btn::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 3px;
    top: 6px;
    left: 2px;
    transform: rotate(45deg);
    background-color: currentColor;
    border-radius: 1px;
}

.delete-block-btn::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 3px;
    top: 6px;
    left: 2px;
    transform: rotate(-45deg);
    background-color: currentColor;
    border-radius: 1px;
}

.delete-block-btn:hover {
    color: #444;
}

.note-block>div:hover .delete-block-btn {
    display: block;
}

.create-block-btn {
    margin: 0 auto;
    top: 14px;
}

.create-block-btn-text {
    display: block;
    width: 100%;
}

.create-block-btn:hover {
    background-color: rgb(255, 255, 255);
}

.insert-string {
    position: absolute;
    display: none;
    width: 200px;
    height: 32px;
    left: 16px;
    top: 0px;
    font-size: 20px;
    border: none;
    box-sizing: content-box;
    text-align: right;
}